<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--//2014-11-18 03:13:06 sculebras: Added for error logging-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ModelContext" connectionString="Data Source=localhost\SqlExpress;uid=sa;pwd=seba123;database=ClimaSistemaSolar;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Años que se van a procesar-->
    <add key="ANIOS" value="10" />
    <!--Define si activar el trace de estados de planetas 
    (loguea la posicion de los planetas en las distintas Epocas detectadas)
    Para ambiente productivo deberia estar en false.
    -->
    <add key="TRACE_ESTADO_PLANETAS" value="true" />
    <!--Angulos iniciales de los planetas-->  
    <add key="ANGULO_INICIO_Ferengi" value="0" />
    <add key="ANGULO_INICIO_Betasoide" value="0" />
    <add key="ANGULO_INICIO_Vulcano" value="0" />

    <!--Habilita los test que van contra la base de datos
    (Se puso para poder subir a AppHarbour. ya que para subir la solucion primero debe pasar todas las pruebas
    unitarias y al no tener seteada bien la cadena de conexion le da errores en los tests)
    -->
    <add key="DESHABILITAR_DB_TESTS" value="true" />
    
  </appSettings>
  <entityFramework>
    <contexts>
      <context type="ClimaSistemaSolar.Component.DAL.Context.ModelContext, ClimaSistemaSolar.Component" disableDatabaseInitialization="true">
        <!-- If true disables the Initializer (production environment) -->
        <databaseInitializer type="ClimaSistemaSolar.Component.Initializer.ModelInitializer, ClimaSistemaSolar.Component.Initializer" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--sculebras: Added for error logging-->
  <log4net debug="false" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFile" />
    </root>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\0Ordenar\ML Test\ClimaSistemaSolar\Logs\ClimaSistemaSolar.ComponentTests.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss,fff} %-6timestamp [%15.15thread] %-5level %30.30logger %ndc - %message%newline" />-->
        <conversionPattern value="%identity %date{yyyy-MM-dd HH:mm:ss,fff} %level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <!--<logger name="LogFile">
      <level value="ALL" />
      <appender-ref ref="LogFile" />
    </logger>-->
  </log4net>
    <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="TraceLogger" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <!--switchName="myswitch"-->
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <!--<add name="textWriterListener" traceOutputOptions="DateTime"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="myApp.log">
          </add>-->
          <add name="log4Net" type="SF.Logger.TraceListeners.Log4NetTraceListener, SF.Logger" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <!--<switches>
      <add name="myswitch" value="All" />
    </switches>-->
    <!--<sharedListeners>
      <add name="log4Net" type="SF.Logger.TraceListeners.Log4NetTraceListener, SF.Logger" />>
    </sharedListeners>-->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>